body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	color: #222;
	background-color: lightblue;
}

.Hauptdiv {
	column-count: 1;
	width: 80%;
	margin: 0 auto;
}

.Bildrechts {
  	width: 100px;
}

.Titeldiv {
	clear: bottom;

}

.Achsenwahlfeld_links {
	clear: both;
	width: 300px;
	float: left;
}

.Achsenwahlfeld_rechts {
	margin-right: 20px;
	width: 300px;
	float: right;
}

.PrimaerGraph {
	margin-top: 150px;
}

.Setupflaechendreier {
	float: left;
	width: 200px;
	column-count: 1;
}
.Setupflaechenzweier {
}

.Steuerflaechen {
	margin-top: 30px;
	margin-bottom: 30px;
	column-count: 3;
}

.Tabelle {
	width: 	50%;
	margin: 0 auto;
}

.yminmax {
	width: 100%;
	column-count: 2;
}

.centert {
	margin: 0 auto;
	column-count: 1;
	width: 10%;
}